@import "./../config.scss";

.button {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.1rem 3rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &::after {
      transform: none !important;
    }
  }
}

.default {
  background-color: $color-white;
  color: $color-grey-dark;

  &::after {
    background-color: $color-white;
  }
}

.primary {
  background-color: $color-primary;
  color: $color-white;

  &::after {
    background-color: $color-primary;
  }
}

.secondary {
  background-color: $color-red;
  color: $color-white;

  &::after {
    background-color: $color-red;
  }
}

.noAnimation {
  transform: none !important;
}
